<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="ja_JP" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="HASH365[ハッシュ365]" property="og:site_name">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" property="og:description">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" name="description">
    <meta content="特定商取引法に基づく表示
    ｜HASH365[ハッシュ365]" property="og:title">

    <% content_for :title do %>
    特定商取引法に基づく表示
    ｜HASH365[ハッシュ365]
    <% end %>
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/449240842132177?v=2.9.40&amp;r=stable" async=""></script><script src="https://connect.facebook.net/signals/config/1284580028249164?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://b92.yahoo.co.jp/search/?p=2CWQL16VV0&amp;label=&amp;ref=https%3A%2F%2Fhash365.net%2Fasct&amp;rref=https%3A%2F%2Fhash365.net%2Fusers%2F332530&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1623056054.7973843&amp;pvid=yem54hl5cikpmdo2ry&amp;tsyjad=1622777194"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TD2FGFN"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TD2FGFN');</script>
    <!-- End Google Tag Manager -->

    <style>
    iframe[name="google_conversion_frame"] { position: absolute; top: 0; }
    </style>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 819565532;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?random=1623056054500&amp;cv=9&amp;fst=1623056054500&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=2505059650&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=23&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fhash365.net%2Fasct&amp;ref=https%3A%2F%2Fhash365.net%2Fusers%2F332530&amp;tiba=%E7%89%B9%E5%AE%9A%E5%95%86%E5%8F%96%E5%BC%95%E6%B3%95%E3%81%AB%E5%9F%BA%E3%81%A5%E3%81%8F%E8%A1%A8%E7%A4%BA%20%EF%BD%9CHASH365%5B%E3%83%8F%E3%83%83%E3%82%B7%E3%83%A5365%5D&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Yahoo Code for your Target List -->
    <script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_retargeting_id = '2CWQL16VV0';
    var yahoo_retargeting_label = '';
    var yahoo_retargeting_page_type = '';
    var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
    /* ]]> */
    </script>
    <script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>

    <script async="" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    
    ytag({"type":"ycl_cookie"});
    
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1284580028249164');
    fbq('addPixelId', '449240842132177');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1284580028249164&ev=PageView&noscript=1"
    />
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=972151862885900&ev=PageView&noscript=1"
    />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <% content_for :css do %>
        <%= stylesheet_link_tag "history" %>
    <% end %>
    <%# <link rel="stylesheet" media="all" href="/assets/application-f00bd107863a579db136743172e2cfdca1d3358d1b7fe383e98b0d4e7d01600d.css" data-turbolinks-track="false"> %>
    <script src="/assets/application-75f0079c8e098370b4cea2c402e86c3f91ebe8e91eb9a5483574c97458aac8ba.js" data-turbolinks-track="false"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="kiyk4KDhc5DDft/0cDkaWNUZMhke6X02wnFB5H9MO79gj5kFzeAeM1PudbU/KZiEE1Thpd1i+HSSBg0ShajxKw==">
    <script type="text/javascript" src="https://b97.yahoo.co.jp/pagead/conversion_async.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD2FGFN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<%= render partial: "layouts/templete/header" %>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="pankuzu">
<a href="/">ホーム</a> » 特定商取引法に基づく表示
</div>

<h1>特定商取引法に基づく表示</h1>
<p>
<br>
</p>
<p>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下に明示いたします。</p>
<p>
<br>
</p>
<p>□サイト名</p>
<p>
HASH365[ハッシュ365]
</p>
<p>
<br>
</p>
<p>□販売運営責任者</p>
<p>会社名　株式会社Tech Factory</p>
<p>代表取締役　粟島 正俊</p>
<p>所在地　東京都品川区東五反田2丁目8-5 KNビル5F</p>
<p>電話番号　03-6868-4062（電話でのお問い合わせは受け付けておりません。 サポートは問い合わせフォームからのみとなります。あらかじめご了承いただきますようお願いいたします。）</p>
<p>
<br>
</p>
<p>□連絡先</p>
<p>お問い合わせ先</p>
<p>
<a href="http://techfactory.jp/contact">
http://techfactory.jp/contact
</a>
</p>
<p>
<br>
</p>
<p>□販売価格</p>
<p>商品紹介ページをご参照ください。</p>
<p>
<br>
</p>
<p>□代金の支払時期、支払方法</p>
<p>クレジット会社を通じて料金をお支払いただきます。支払時期はクレジット会社の定める規定によります。</p>
<p>
<br>
</p>
<p>□サービス提供の時期</p>
<p>代金決済手続きの完了確認後、直ちにサービス提供を開始します。</p>
<p>
<br>
</p>
<p>□キャンセルの取り扱い条件</p>
<p>本サイトで提供するサービスについては、購入手続き完了後のキャンセルをお受けいたしません。</p>
<br>
<p>□解約の取り扱い条件</p>
<p>契約期間内であれば、いつでも解約することができます。解約は設定ページより行うことが可能です。解約いただいた場合は、以後の請求は行いませんが、プランの有効期限内は引き続きサービスの提供を行います。なお、途中解約による返金は承っておりません。</p>
<br>
<p>□不良品の取り扱い条件</p>
<p>商品の性質上、返品は承っておりません。</p>
</div>
</div>
</div>
<%= render partial: "layouts/templete/footer" %>


<script>
    Admin.setPage("landing");
    Admin.init();
</script>



<script type="text/javascript" id="">var yahoo_ss_retargeting_id=1000346457,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" id="" src="//s.yimg.jp/images/listing/tool/cv/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//b97.yahoo.co.jp/pagead/conversion/1000346457/?guid=ON&amp;script=0&amp;disvt=false">
</div>
</noscript><div style="visibility: hidden; position: absolute; top: 0px;">S</div><script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nwesl&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Fhash365.net%2Fasct" type="text/javascript"></script></body></html>