<head>
  <meta charset='utf-8'>
  <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>
  <meta content='ja_JP' property='og:locale'>
  <meta content='website' property='og:type'>
  <meta content='HASH365[ハッシュ365]' property='og:site_name'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' property='og:description'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' name='description'>
  <meta content='インスタグラムのいいねやフォロワーを増やしたいなら
  ｜HASH365[ハッシュ365]' property='og:title'>
  <%= content_for :title do %>
  インスタグラムのいいねやフォロワーを増やしたいなら
  ｜HASH365[ハッシュ365]
  <% end %>
  <%# <link rel="stylesheet" media="all" href="stylesheets/index.css" data-turbolinks-track="false" /> %>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'top' %>
  <% end %>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="PnY85flhRs5d39em24+BBac+lK332l1f7esCMrAaM86Ru1LPR7DY0yOYkrsXagnAa8o0obR5ShG0KUJqK65Dfg==" />
</head>
<body>
  <%# ハンバーガーメニュー ↓%>
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn">
      <span></span>
    </label>
    <div class="menu-content">
      <ul>
        <li>
          <a href="/users/sign_up">新規登録</a>
        </li>
        <li>
          <a href="/users/sign_in">ログイン</a>
        </li>
      </ul>
    </div>
  </div>
  <%# ハンバーガーメニュー ↑%>
  <header>
    <div class='header_inner'>
      <div class='main_head'>
        <div class='logo fadein'>
          <img alt='' src='/img/new_lp/logo.svg'>
        </div>
        <ul class='btn_area fadein'>
          <li>
            <a class='btn' href='/users/sign_up?locale=ja' rel='nofollow'>新規登録</a>
          </li>
          <li>
            <a class='btn' href='/users/sign_in' rel='nofollow'>ログイン</a>
          </li>
        </ul>
        <nav class='top_menu'>
          <div class='cd-primary-nav'>
            <ul class='btn_area fadein'>
              <li>
                <a class='btn' href='/users/sign_up?locale=ja' rel='nofollow'>新規登録</a>
              </li>
              <li>
                <a class='btn' href='/users/sign_in' rel='nofollow'>ログイン</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class='copy_area'>
        <p class='sub_copy fadein'>
          世界で<span class='underline'>300,000</span>人以上が利用！
        </p>
    <h1 class='main_copy fadein del_01'>
    インスタグラムの<br class='pc_none'>フォロワーを<br class='sp_none'>効率的に<br class='pc_none'>賢く増やそう!
    </h1>
    <p class='min_copy fadein del_02'>
    あなたのアカウントを代わりに<br class='pc_none'>運用しファンを増やします。
    </p>
    <a class='btn fadein del_03' href='/users/sign_up?locale=ja' rel='nofollow'>無料でフォロワーを増やす</a>
    </div>
    <div class='phone_box'>
    </div>
    </div>
  </header>
  <!-- /Header -->
  <section class='performance'>
  <div class='performance_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>HASH365の実績</h2>
  </div>
  <div class='performance_area'>
  <div class='txt_box'>
  <div class='min_tit fadein'>
  人気投稿
  <span class='line'>ランキング1位獲得</span>
  </div>
  <p class='read_txt fadein'>
  フォロワーが増えるだけではなく、いいね、コメントも増えるので、<br class='sp_none'>ハッシュタグの人気投稿に入る確率も上がります。
  </p>
  </div>
  <div class='txt_box'>
  <div class='min_tit fadein'>
  1日の平均フォロワー
  <span class='line'>獲得数17.5人</span>
  </div>
  <p class='read_txt fadein'>
  継続して続けることで1日平均17.5フォロワーの増加が見込めます。
  <br class='sp_none'>
  あなたの投稿をより多くの人に広めましょう
  </p>
  </div>
  <div class='txt_box'>
  <div class='min_tit fadein'><span class='line'>アパレル・美容師・モデル</span>、様々な業種の方が利用中
  </div>
  <p class='read_txt fadein'>
  インスタグラムを利用して集客を行っている、
  <br class='sp_none'>
  様々な業種の方にご利用いただいています
  </p>
  </div>
  </div>
  </div>
  </section>
  <!-- /Performance -->
  <section class='about'>
  <div class='about_inner'>
  <div class='txt_area'>
  <h2 class='about_tit fadein'>
  24時間365日フォロワーの<br>獲得をサポートをします。
  </h2>
  <p class='read_txt fadein'>
  インスタグラムを始めたけど、なかなかフォロワーが集まらない...
  <br>
  そんな悩みをHASH365が全て解決します。
  <br>
  365日24時間、あなたの投稿内容に合ったユーザを探して、
  <br>
  自動でフォロワーを増やします。
  </p>
  </div>
  </div>
  </section>
  <!-- /About -->
  <section class='entry_area fadein'>
  <h2 class='entry_copy fadein'>
  300,000人の利用者に<br class='pc_none'>支持されています!
  </h2>
  <div class='read_txt fadein'>
  サービス開始から3年！美容院、飲食店、アパレル、モデルなど、<br>様々な業種の方に支持されています。
  </div>
  <a class='btn fadein' href='/users/sign_up?locale=ja' rel='nofollow'>
  無料でフォロワーを増やす
  <i class='far fa-chevron-right'></i>
  </a>
  </section>
  <!-- /Entry -->
  <section class='function'>
  <div class='function_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>HASH365の機能</h2>
  </div>
  <ul class='function_area'>
  <li class='function_box fadein'>
  <div class='function_img'>
  <img alt='' src='https://hash365.net/img/new_lp/function_01.png'>
  </div>
  <h3 class='function_name'>自動いいね</h3>
  <p class='function_txt'>
  あなたの投稿内容に関連する<br>ユーザの写真に自動でいいねします
  </p>
  </li>
  <li class='function_box fadein del_01'>
  <div class='function_img'>
  <img alt='' src='https://hash365.net/img/new_lp/function_02.png'>
  </div>
  <h3 class='function_name'>自動フォロー</h3>
  <p class='function_txt'>
  あなたの投稿内容に関連する<br>ユーザを自動でフォローします
  </p>
  </li>
  <li class='function_box fadein del_02'>
  <div class='function_img'>
  <img alt='' src='https://hash365.net/img/new_lp/function_03.png'>
  </div>
  <h3 class='function_name'>自動フォロー解除</h3>
  <p class='function_txt'>
  フォローを返してくれないユーザを<br>自動で解除します
  </p>
  </ul>
  </div>
  </section>
  <!-- /About -->
  <section class='step'>
  <div class='step_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>HASH365の仕組み</h2>
  </div>
  <ul class='step_area fadein'>
  <li class='step_box fadein'>
  <div class='step_label'>STEP 1</div>
  <p class='step_tit'>ターゲットを絞る</p>
  <p class='step_txt'>いいね、フォローをもらいたいユーザを設定画面から絞り込み、ターゲットを決める</p>
  </li>
  <li class='arrow'>
  <img alt='' src='https://placehold.jp/22x24.png'>
  </li>
  <li class='step_box fadein del_01'>
  <div class='step_label'>STEP 2</div>
  <p class='step_tit'>自動でアプローチ</p>
  <p class='step_txt'>Step1で設定したターゲットに、いいね、フォローを自動で行います</p>
  </li>
  <li class='arrow fadein'>
  <img alt='' src='https://placehold.jp/22x24.png'>
  </li>
  <li class='step_box fadein del_02'>
  <div class='step_label'>STEP 3</div>
  <p class='step_tit'>いいね、フォロー返し</p>
  <p class='step_txt'>アプローチされた人は、あなたのことが気になり、投稿やアカウントを気に入れば、いいね・フォローをしてくれます</p>
  </li>
  </ul>
  </div>
  </section>
  <!-- /Atep -->
  <section class='entry_area fadein'>
  <h2 class='entry_copy fadein'>
  300,000人の利用者に<br class='pc_none'>支持されています!
  </h2>
  <div class='read_txt fadein'>
  サービス開始から2年！美容院、飲食店、アパレル、モデルなど、<br>様々な業種の方に支持されています。
  </div>
  <a class='btn fadein' href='/users/sign_up?locale=ja' rel='nofollow'>
  無料でフォロワーを増やす
  <i class='far fa-chevron-right'></i>
  </a>
  </section>
  <!-- /Entry -->
  <section class='price'>
  <div class='price_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>有料プランについて</h2>
  </div>
  <div class='price_read fadein'>
  長いプランで購入いただくほど、
  <br class='pc_none'>
  <span class='line'>
  １ヶ月あたりの料金がお得
  </span>
  になります。
  </div>
  <ul class='price_area'>
  <li class='price_box fadein'>
  <div class='price_inner'>
  <div class='mouth_box'>
  12ヶ月
  <span>プラン</span>
  </div>
  <div class='price'><span>月額</span>¥1,980
  <br>
  <span class='min_price'>(一括¥23,760)</span>
  </div>
  </div>
  </li>
  <!-- /price_box -->
  <li class='price_box fadein del_01'>
  <div class='price_inner'>
  <div class='mouth_box'>
  6ヶ月
  <span>プラン</span>
  </div>
  <div class='price'><span>月額</span>¥2,330
  <br>
  <span class='min_price'>(一括¥13,980)</span>
  </div>
  </div>
  </li>
  <!-- /price_box -->
  <li class='price_box fadein del_02'>
  <div class='price_inner'>
  <div class='mouth_box'>
  3ヶ月
  <span>プラン</span>
  </div>
  <div class='price'><span>月額</span>¥2,660
  <br>
  <span class='min_price'>(一括¥7,980)</span>
  </div>
  </div>
  </li>
  <!-- /price_box -->
  <li class='price_box fadein del_03'>
  <div class='price_inner'>
  <div class='mouth_box'>
  1ヶ月
  <span>プラン</span>
  </div>
  <div class='price'><span>月額</span>¥2,980
  <br>
  <span class='min_price'></span>
  </div>
  </div>
  </li>
  <!-- /price_box -->
  </ul>
  </div>
  </section>
  <!-- /Function -->
  <section class='voice'>
  <div class='voice_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>利用者の声</h2>
  </div>
  <div class='voice_area'>
  <div class='voice_box'>
  <div class='voice_img'>
  <img alt='' src='https://hash365.net/img/new_lp/voice_01.png'>
  </div>
  <div class='txt_box'>
  <p class='voice_tit'>広告費用が大幅に削減できました！</p>
  <p class='work'>都内ヘアサロン勤務</p>
  <p class='read_txt'>
  今まで大手美容院検索サイトに高額な広告費用を支払っており、費用対効果の部分で悩まされていましたが、HASH365でインスタグラムを使って集客をしたところ、インスタグラム経由でお客様から直接予約をいただくようになりました。
  <span class='line'>月額費用も3000円以下で利用できるので、大幅に広告費の削減につながりました。</span>
  </p>
  </div>
  </div>
  <div class='voice_box'>
  <div class='voice_img'>
  <img alt='' src='https://hash365.net/img/new_lp/voice_02.png'>
  </div>
  <div class='txt_box'>
  <p class='voice_tit'>インスタグラムから撮影依頼の仕事が増えました</p>
  <p class='work'>モデル</p>
  <p class='read_txt'>
  掲示板やSNSなどでモデルのお仕事の募集していたのですが、新規の撮影依頼を中々もらうことができず困っていました。そんな時、知り合いのモデルから、HASH365をおすすめしてもらって使いはじめました。
  <span class='line'>それ以降、投稿した自分の写真や動画に、いいねやコメントを多くもらうようになり、新規のお仕事の依頼が増えました。</span>
  </p>
  </div>
  </div>
  </div>
  </div>
  </section>
  <!-- /Function -->
  <section class='faq'>
  <div class='faq_inner'>
  <div class='tit_box fadein'>
  <h2 class='section_tit'>よくある質問</h2>
  </div>
  <div class='faq_area'>
  <div class='txt_box fadein'>
  <div class='question'>
  無料お試し期間に有料プランを申し込んだら、残りの無料期間が無駄になりますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  いいえ、残りの無料期間は無駄になりません。早期に有料プランを契約頂いた場合は、残りの無料期間分も合わせて、サービスをご利用になれます。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  無料お試し期間が終了するとどうなりますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  無料お試し期間が終了すると自動的にサービスの提供が停止いたします。お客様が自分自身で有料プランを購入しない限り、自動的に有料プランへ切り替わることはございませんので、ご安心ください。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  有料プランの有効期限がきれるとどうなりますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  ご契約いただいているプランで自動更新されます。なお、お支払いいただいた料金の返金は承っておりません。ご了承ください。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  有料プランを解約することはできますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  はい、契約の解除は「設定」ページよりお客様自身でいつでも可能です。ご解約頂いた場合は次回からの自動更新による決済は行われません。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  支払い方法は？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  お支払い方法はクレジットカードのみとなっております。ご利用可能なカードの種類はVisa, MasterCard, American Expressとなっております。どのプランを購入頂く場合も、料金は一括でのお支払となります。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  領収書は発行出来ますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  はい、可能です。「設定」→「購入履歴」の画面からお客様に購入いただいたプランの領収書を発行することが出来ます。
  </p>
  </div>
  <div class='txt_box fadein'>
  <div class='question'>
  有料プランに加入後、他のプランに変更はできますか？
  <p class='accordion_icon'>
  <span></span>
  <span></span>
  </p>
  </div>
  <p class='answer'>
  プランの有効期限の途中で別のプランに切り替えることは出来ません。有効期限の終了後は別のプランに変更いただけます。
  </p>
  </div>
  </div>
  </div>
  </section>
  <!-- /Atep -->

  <%= render partial: "layouts/templete/footer" %>
  <!-- /Footer -->
  <script>
    $(function() {

        var urlArray = getUrlVars();
        for (key in urlArray) {
            if (key.startsWith('utm_')) {
                $.cookie(key, urlArray[key], { expires: 30, path: '/'});
            }

        }

        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                var key = hash[0].replace('amp;', '');
                vars.push(key);
                vars[key] = hash[1];
            }
            return vars;
        }
    });
  </script>

  <script>
    Admin.setPage('common');
    Admin.init();
  </script>
</body>