$(() => {
  $("#hashsend").click(() => {
    $(".tag_list_wrap").inserAdjacentHTML("afterbegin", `
      <li class="tag_list">
        <%= key_word.hashtag %>
        <a href="hashtags/delete/<%= key_word.id %>" data-keyword="<%= key_word.hashtag %>" data-method="delete" rel="nofollow" class="fa fa-close delete_keyword"></a>
      </li>
    `)
  });
});


 