  <footer id='footer'>
    <div class='footer_inner fadein'>
      <div class='logo fadein'>
        <a href='/'>
          <img alt='' src='https://hash365.net/img/new_lp/logo.svg'>
        </a>
      </div>
      <ul class='foot_list fadein'>
        <li>
          <a href="/users/user_policy">利用規約</a>
        </li>
        <li>
          <a href="/users/privacy_policy">プライバシーポリシー</a>
        </li>
        <li>
          <a href="/users/line_contact">お問い合わせ</a>
        </li>
      </ul>
      <ul class='foot_list fadein'>
        <li>
          <a href="/users/management">運営会社</a>
        </li>
      </ul>
      <p class='copy fadein'>Copyright © 2019 HASH365 All Rights Reserved</p>
    </div>
  </footer>