  <footer id='footer'>
    <div class='footer_inner fadein'>
      <div class='logo fadein'>
        <a href='/'>
          <img alt='' src='https://hash365.net/img/new_lp/logo.svg'>
        </a>
      </div>
      <ul class='foot_list fadein'>
        <li>
          <a href="/pages/user_policy">利用規約</a>
        </li>
        <li>
          <a href="/pages/privacy_policy">プライバシーポリシー</a>
        </li>
        <li>
          <a href="/pages/asct">特定商取引法に基づく表示</a>
        </li>
        <li>
          <a href="/pages/line_contact">お問い合わせ</a>
        </li>
      </ul>
      <ul class='foot_list fadein'>
        <li>
          <a href="/pages/:id/management">運営会社</a>
        </li>
        <li>
          <a href='https://s3-ap-northeast-1.amazonaws.com/curation-web/otokake/upload/f78i2mjtg6p9vnrlhdbkq_ja' target='_blank'>
            使い方マニュアル
          </a>
        </li>
      </ul>
      <p class='copy fadein'>Copyright © 2019 HASH365 All Rights Reserved</p>
    </div>
  </footer>