    <header id='main'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='header_link'>
              <a class="settings" href="/pages/:id/set">設定</a>
              <a class="logout" rel="nofollow" data-method="get" href="/users/sign_out">ログアウト</a>
              <p class='version_label'>
                <i class="fa fa-check-circle"></i>
                最新バージョン
              </p>
            </div>
            <div class='logo'>
              <a href='/'>
                <img alt='HASH365' src='https://hash365.net/img/new_lp/logo.svg'>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>