    <header id='main'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='header_link'>
              <%#= link_to "設定", "/users/#{current_user.id}/set" %>
              <a class="logout" rel="nofollow" data-method="get" href="/users/sign_out">ログアウト</a>
            </div>
            <div class='logo'>
              <a href='/'>
                <img alt='HASH365' src='https://hash365.net/img/new_lp/logo.svg'>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>