<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="ja_JP" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="HASH365[ハッシュ365]" property="og:site_name">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" property="og:description">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" name="description">
    <meta content="" property="og:title">

    <meta content="noindex, nofollow" name="robots">
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/449240842132177?v=2.9.41&amp;r=stable" async=""></script><script src="https://connect.facebook.net/signals/config/1284580028249164?v=2.9.41&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://b92.yahoo.co.jp/search/?p=2CWQL16VV0&amp;label=&amp;ref=https%3A%2F%2Fhash365.net%2Fusers%2Finstagram%2Fsign_in&amp;rref=https%3A%2F%2Fhash365.net%2Fusers%2Fsign_up%3Flocale%3Dja&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1623215606.8044286&amp;pvid=o1qn3ghwnokpp0nu2p&amp;tsyjad=1622777194"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TD2FGFN"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TD2FGFN');</script>
    <!-- End Google Tag Manager -->

    <style>
    iframe[name="google_conversion_frame"] { position: absolute; top: 0; }
    </style>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 819565532;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?random=1623215606761&amp;cv=9&amp;fst=1623215606761&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=2505059651&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=23&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fhash365.net%2Fusers%2Finstagram%2Fsign_in&amp;ref=https%3A%2F%2Fhash365.net%2Fusers%2Fsign_up%3Flocale%3Dja&amp;tiba=HASH365%5B%E3%83%8F%E3%83%83%E3%82%B7%E3%83%A5365%5D&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Yahoo Code for your Target List -->
    <script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_retargeting_id = '2CWQL16VV0';
    var yahoo_retargeting_label = '';
    var yahoo_retargeting_page_type = '';
    var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
    /* ]]> */
    </script>
    <script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>

    <script async="" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    
    ytag({"type":"ycl_cookie"});
    
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1284580028249164');
    fbq('addPixelId', '449240842132177');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1284580028249164&ev=PageView&noscript=1"
    />
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=972151862885900&ev=PageView&noscript=1"
    />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <% content_for :css do %>
        <%= stylesheet_link_tag "history" %>
    <% end %>
    <%# <link rel="stylesheet" media="all" href="/assets/application-f00bd107863a579db136743172e2cfdca1d3358d1b7fe383e98b0d4e7d01600d.css" data-turbolinks-track="false"> %>
    <script src="/assets/application-75f0079c8e098370b4cea2c402e86c3f91ebe8e91eb9a5483574c97458aac8ba.js" data-turbolinks-track="false"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="pT1l1AJHreOkXJKOVk81lAsk6prG6O/ueOMukyDJGKCYv6fiWo2RXokwF0vSj8eaAQrGn6FCVkT0p6YWaDYjYA==">
    <script type="text/javascript" src="https://b97.yahoo.co.jp/pagead/conversion_async.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD2FGFN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="login">
<div class="logo">
<a href="/">
<img alt="HASH365" src="https://hash365.net/img/new_lp/logo.svg">
</a>
</div>
</header>

<div class="container">
  <div class="row">
<div class="login center-block">

  <h1>インスタグラム ログイン</h1>

      <form id="insta_auth_form" action="/users/instagram/auth" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="pT1l1AJHreOkXJKOVk81lAsk6prG6O/ueOMukyDJGKCYv6fiWo2RXokwF0vSj8eaAQrGn6FCVkT0p6YWaDYjYA==">

          <div class="main">
            <div class="group-line">
            <div class="form-group insta_login_input group-insta-id"><label>インスタグラム ユーザーID</label><br>
              <input type="text" name="insta_username" id="insta_username" class="form-control"></div>
              <div class="error-field hide">
                  <p class="user_name_desc redcolor">インスタグラムのユーザーIDが間違っています。インスタグラムアプリでユーザーIDを確認してください。</p>
                  <img class="img_insta_profile" src="/img/users/insta_profile_fix_ja.png">
                  <p class="user_name_desc redcolor">(よくある間違え)</p>
                  <p class="user_name_desc redcolor">ユーザーネームを入力している</p>
                  <p class="user_name_desc redcolor">メールアドレスを入力している</p>
              </div>
            </div>
            <br>
            <br>
            <div class="group-line">
            <div class="form-group insta_login_input"><label for="_____________">インスタグラム パスワード</label><br>
              <input type="text" name="insta_password" id="insta_password" class="form-control"></div>
            <a class="password_reset_link" href="https://www.instagram.com/accounts/password/reset/" target="_blank"><p class="user_name_desc">パスワードが分からない場合、こちらから変更が可能です。</p></a>
            </div>
            <div class="btn-area"><input type="submit" name="commit" value="アカウントを認証する" class="btn btn-primary" data-disable-with="アカウントを認証する"></div>
            <a class="logout" rel="nofollow" data-method="delete" href="/agents/sign_out">ログアウト</a>
          </div>




          <div class="clearfix"></div>
</form></div>
</div>

</div>
<%= render partial: "layouts/templete/footer" %>

<script>
  $(function() {
      $('#insta_auth_form').submit(function() {
          var user_name = $('#insta_username').val();
          if (user_name.match(/^[a-zA-Z0-9_.]+$/) == null) {
                $('.group-insta-id').addClass('has-error');
              $('.error-field').removeClass('hide');
              $('html,body').animate({scrollTop: top}, 0, 'swing');
              return false;
          } else {
              return true;
          }

      });
  });
</script>

<script>
  Admin.setPage('common');
  Admin.init();
</script>



<script type="text/javascript" id="">var yahoo_ss_retargeting_id=1000346457,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" id="" src="//s.yimg.jp/images/listing/tool/cv/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//b97.yahoo.co.jp/pagead/conversion/1000346457/?guid=ON&amp;script=0&amp;disvt=false">
</div>
</noscript><div style="visibility: hidden; position: absolute; top: 0px;">S</div><script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nwesl&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Fhash365.net%2Fusers%2Finstagram%2Fsign_in" type="text/javascript"></script></body></html>