<head>
  <meta charset='utf-8'>
  <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>
  <meta content='ja_JP' property='og:locale'>
  <meta content='website' property='og:type'>
  <meta content='HASH365[ハッシュ365]' property='og:site_name'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' property='og:description'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' name='description'>
  <meta content='' property='og:title'>

  <% content_for :css do %>
    <%= stylesheet_link_tag "change" %>
  <% end %>
  <meta content='noindex, nofollow' name='robots'>

  <%# <link rel="stylesheet" media="all" href="../css/change.css" data-turbolinks-track="false" /> %>
  <script src="../js/index.js" data-turbolinks-track="false"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="+0zYsDx8/i8HLhwo9R0ebzRWibFLth49hwVWZus4j5kaImzhAqsm/wi+HP6QDiuzYlEBNOrB/F/xozeSI0Wi/Q==" />
</head>
<body>
<%= render partial: "layouts/templete/header" %>

<div id='besic'>
<div class='kv'>
<div class='container' style='font-size: 14px;'>
<div class='pankuzu'>
<a href="/">ホーム</a> &raquo; ベーシックプラン
</div>

</div>
<div class='area'>
<div class='hand'>
<img src='https://placehold.jp/180x366.png'>
<div class='like'>
<img src='https://placehold.jp/80x46.png'>
</div>
</div>
<div class='move' style='margin-bottom: 30px;'>
<a class='move_btn' href='#campaign' onClick='ga(&#39;send&#39;,&#39;event&#39;,&#39;click&#39;,&#39;move_campaign&#39;,&#39;0&#39;);'>
今すぐ申し込む
</a>
</div>
<div class='text'>
<div class='text_img'>
<img class='js-image-switch' src='https://placehold.jp/558x224.png'>
</div>
</div>
</div>
</div>
<div class='title'>
<h2>
ベーシックプラン
</h2>
</div>
<!-- /.title -->
<div class='move' style='margin-top: 50px;'>
<a class='move_btn' href='#campaign' onClick='ga(&#39;send&#39;,&#39;event&#39;,&#39;click&#39;,&#39;move_campaign&#39;,&#39;10&#39;);'>
今すぐ申し込む
</a>
</div>
<div class='performance'>
<div class='area'>
<h2>
HASH365の実績
</h2>
<div class='container'>
<div class='box_area'>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_01'>
<img src='https://placehold.jp/200x150.png'>
</div>
</div>
<p class='min_tit'>
1日の平均フォロワー獲得数
</p>
<p class='txt'>
継続して続けることで1日平均17.5フォロワーの増加が見込めます。
あなたの投稿をより多くの人に広めましょう

</p>
</div>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_02'>
<img src='https://placehold.jp/200x150.png'>
</div>
</div>
<p class='min_tit'>
人気投稿ランキング1位獲得
</p>
<p class='txt'>
フォロワーが増えるだけではなく、いいね、コメントも増えるので、ハッシュタグの人気投稿に入る確率も上がります。
</p>
</div>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_03'>
<img src='https://placehold.jp/200x150.png'>
</div>
</div>
<p class='min_tit'>
様々な業種の方が利用中
</p>
<p class='txt'>
ハッシュタグを設定するだけで、簡単に始められます。手動の場合と比較して、時間を大幅に短縮することが出来ます。
</p>
</div>
</div>
</div>
</div>
</div>
<!-- /.performance -->
<div id='campaign'>
<div class='plan'>
<div class='area'>
<h2>
プランを選択してください
</h2>
<div class='campaign'>
<div class='tit'>
<span class='star_left'>
無料期間延長キャンペーン！
</span>
<span class='star_right'></span>
</div>
<div class='txt'>
無料期間内に、有料プランをお申し込みいただいた方には、<br />今だけ最大1ヶ月間、無料期間を延長させていただきます！<br />キャンペーンは申し込み上限数に達した時点で終了しますので、<br />お早めのお申し込みをお願いします。<br />
</div>
<div class='txt small'>
※現在の無料期間分も合わせて延長しますので、<br />早期にお申込みいただいても無料期間が無駄になることはありません。<br />
</div>
<div class='naiyou'>
<p class='midashi'>
特典内容
</p>
<p class='naiyou_txt'>
長期プランの方が、延長期間も<br />月額費用もお得！<br />
</p>
</div>
<div class='timer'>
あなたのキャンペーン期間終了まで残り
<br>
<span>
3日と
</span>
<span class='until_trial_end'>
<span class='end_hour'>08</span>:<span class='end_minute'>08</span>:<span class='end_second'>16</span>
</span>
</div>
</div>

<div class='container'>
<div class='box_area'>
<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_01'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>1ヶ月無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥1,980
</span>
</p>
<p class='lumpsum'>
(一括¥23,760)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
1ヶ月あたりの料金が<br />一番お得！
</p>
<a class='btn btn-apply' href='/subscriptions/5'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
<div class='icon'>
<img src='https://placehold.jp/80x80.png'>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_02'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>14日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,330
</span>
</p>
<p class='lumpsum'>
(一括¥13,980)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
しっかりフォロワーを<br />獲得したい方へ
</p>
<a class='btn btn-apply' href='/subscriptions/4'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_03'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>7日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,660
</span>
</p>
<p class='lumpsum'>
(一括¥7,980)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
一番人気のお気軽＆<br />お手軽プラン！
</p>
<a class='btn btn-apply' href='/subscriptions/3'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
<div class='icon'>
<img src='https://placehold.jp/80x80.png'>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_04'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>2日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,980
</span>
</p>
<p class='lumpsum'>
</p>
</div>
<div class='btn_area'>
<p class='comment'>
まずはお試しという方は<br />こちら
</p>
<a class='btn btn-apply' href='/subscriptions/2'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<div class='trust'>
<div class='area'>
<h2>
信頼できる理由
</h2>
<div class='container'>
<div class='box_area'>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_01'>
<img src='https://placehold.jp/240x110.png'>
</div>
</div>
<p class='min_tit'>
累計の利用者数
</p>
</div>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_02'>
<img src='https://placehold.jp/240x110.png'>
</div>
</div>
<p class='min_tit'>
累計フォロワー獲得数
</p>
</div>
<div class='box'>
<div class='icon_box'>
<div class='icon_img_03'>
<img src='https://placehold.jp/240x110.png'>
</div>
</div>
<p class='min_tit'>
累計自動いいね数
</p>
</div>
</div>
<p class='txt'>
モデル、アパレル、美容院、飲食店など様々な業種の方に導入していただき、実績を残しています。安心、安全、かつ効率的にフォロワーを集めることが出来る部分が支持され、多くの方に利用されています。
</p>
</div>
</div>
</div>
<div class='move' onClick='ga(&#39;send&#39;,&#39;event&#39;,&#39;click&#39;,&#39;move_campaign&#39;,&#39;20&#39;);' style='margin-bottom: 40px;'>
<a class='move_btn' href='#campaign'>
今すぐ申し込む
</a>
</div>
<!-- /.trust -->
<div class='voice'>
<div class='area'>
<h2>
お客様の声
</h2>
<div class='container'>
<div class='box voice_01 right_arrow'>
<div class='user_date'>
<div class='user_icon'>
<img alt='' src='https://placehold.jp/127x127.png'>
</div>
<div class='user_txt'>
<p class='job'>
都内ヘアサロン勤務
</p>
<div class='voice_tit'>
広告費用が大幅に削減できました！
</div>
</div>
</div>
<p class='voice_txt'>
今まで大手美容院検索サイトに高額な広告費用を支払っており、費用対効果の部分で悩まされていましたが、HASH365でインスタグラムを使って集客をしたところ、インスタグラム経由でお客様から直接予約をいただくようになりました。
<span>
月額費用も3000円以下で利用できるので、大幅に広告費の削減につながりました。
</span>
</p>
</div>
<!-- /.voice_01 -->
<div class='box voice_02 left_arrow'>
<div class='user_date'>
<div class='user_icon'>
<img alt='' src='https://placehold.jp/127x127.png'>
</div>
<div class='user_txt'>
<p class='job'>
モデル
</p>
<div class='voice_tit'>
インスタグラムから撮影依頼の仕事が増えました
</div>
</div>
</div>
<p class='voice_txt'>
掲示板やSNSなどでモデルのお仕事の募集していたのですが、新規の撮影依頼を中々もらうことができず困っていました。そんな時、知り合いのモデルから、HASH365をおすすめしてもらって使いはじめました。
<span>
それ以降、投稿した自分の写真や動画に、いいねやコメントを多くもらうようになり、新規のお仕事の依頼が増えました。
</span>
</p>
</div>
</div>
</div>
</div>
<!-- /.voice_02 -->
<!-- /.voice -->
<div class='plan'>
<div class='area'>
<h2>
プランを選択してください
</h2>
<div class='campaign'>
<div class='tit'>
<span class='star_left'>
無料期間延長キャンペーン！
</span>
<span class='star_right'></span>
</div>
<div class='txt'>
無料期間内に、有料プランをお申し込みいただいた方には、<br />今だけ最大1ヶ月間、無料期間を延長させていただきます！<br />キャンペーンは申し込み上限数に達した時点で終了しますので、<br />お早めのお申し込みをお願いします。<br />
</div>
<div class='txt small'>
※現在の無料期間分も合わせて延長しますので、<br />早期にお申込みいただいても無料期間が無駄になることはありません。<br />
</div>
<div class='naiyou'>
<p class='midashi'>
特典内容
</p>
<p class='naiyou_txt'>
長期プランの方が、延長期間も<br />月額費用もお得！<br />
</p>
</div>
<div class='timer'>
あなたのキャンペーン期間終了まで残り
<br>
<span>
3日と
</span>
<span class='until_trial_end'>
<span class='end_hour'>08</span>:<span class='end_minute'>08</span>:<span class='end_second'>16</span>
</span>
</div>
</div>

<div class='container'>
<div class='box_area'>
<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_01'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>1ヶ月無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥1,980
</span>
</p>
<p class='lumpsum'>
(一括¥23,760)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
1ヶ月あたりの料金が<br />一番お得！
</p>
<a class='btn btn-apply' href='/subscriptions/5'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
<div class='icon'>
<img src='https://placehold.jp/80x80.png'>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_02'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>14日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,330
</span>
</p>
<p class='lumpsum'>
(一括¥13,980)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
しっかりフォロワーを<br />獲得したい方へ
</p>
<a class='btn btn-apply' href='/subscriptions/4'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_03'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>7日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,660
</span>
</p>
<p class='lumpsum'>
(一括¥7,980)
</p>
</div>
<div class='btn_area'>
<p class='comment'>
一番人気のお気軽＆<br />お手軽プラン！
</p>
<a class='btn btn-apply' href='/subscriptions/3'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
<div class='icon'>
<img src='https://placehold.jp/80x80.png'>
</div>
</div>

<div class='box apply_box'>
<div class='min_tit'>
<img src='https://placehold.jp/164x108.png'>
</div>
<div class='tokuten_kikan cam_bg_04'>
<p class='min_tit'>
特典内容
</p>
<p class='kikan'>
<span>2日無料</span>期間延長
</p>
</div>
<div class='price_box'>
<p class='price'>
月額
<span>
¥2,980
</span>
</p>
<p class='lumpsum'>
</p>
</div>
<div class='btn_area'>
<p class='comment'>
まずはお試しという方は<br />こちら
</p>
<a class='btn btn-apply' href='/subscriptions/2'>
<img src='https://placehold.jp/134x45.png'>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
<!-- /.plan -->
<div class='faq'>
<div class='area'>
<h2>
よくある質問
</h2>
<div class='container'>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>無料お試し期間に有料プランを申し込んだら、残りの無料期間が無駄になりますか？
</dt>
<dd class='answ'><span class='icon_a'></span>いいえ、残りの無料期間は無駄になりません。早期に有料プランを契約頂いた場合は、残りの無料期間分も合わせて、サービスをご利用になれます。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>無料お試し期間が終了するとどうなりますか？
</dt>
<dd class='answ'><span class='icon_a'></span>無料お試し期間が終了すると自動的にサービスの提供が停止いたします。お客様が自分自身で有料プランを購入しない限り、自動的に有料プランへ切り替わることはございませんので、ご安心ください。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>有料プランの有効期限がきれるとどうなりますか？
</dt>
<dd class='answ'><span class='icon_a'></span>ご契約いただいているプランで自動更新されます。なお、お支払いいただいた料金の返金は承っておりません。ご了承ください。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>有料プランを解約することはできますか？
</dt>
<dd class='answ'><span class='icon_a'></span>はい、契約の解除は「設定」ページよりお客様自身でいつでも可能です。ご解約頂いた場合は次回からの自動更新による決済は行われません。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>支払い方法は？
</dt>
<dd class='answ'><span class='icon_a'></span>お支払い方法はクレジットカードのみとなっております。ご利用可能なカードの種類はVisa, MasterCard, American Expressとなっております。どのプランを購入頂く場合も、料金は一括でのお支払となります。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>領収書は発行出来ますか？
</dt>
<dd class='answ'><span class='icon_a'></span>はい、可能です。「設定」→「購入履歴」の画面からお客様に購入いただいたプランの領収書を発行することが出来ます。
</dd>
</dl>
<dl class='box'>
<dt class='ques'><span class='icon_q'></span>有料プランに加入後、他のプランに変更はできますか？
</dt>
<dd class='answ'><span class='icon_a'></span>プランの有効期限の途中で別のプランに切り替えることは出来ません。有効期限の終了後は別のプランに変更いただけます。
</dd>
</dl>
</div>
</div>
</div>
<div class='move'>
<a class='move_btn' href='#campaign' onClick='ga(&#39;send&#39;,&#39;event&#39;,&#39;click&#39;,&#39;move_campaign&#39;,&#39;30&#39;);'>
今すぐ申し込む
</a>
</div>
</div>
<%= render partial: "layouts/templete/footer" %>

<script>
  $(function() {
  // 置換の対象とするclass属性。
  var $elem = $('.js-image-switch');
  // 置換の対象とするsrc属性の末尾の文字列。
  var sp = '_sp.';
  var pc = '_pc.';
  // 画像を切り替えるウィンドウサイズ。
  var replaceWidth = 768;

  function imageSwitch() {
    // ウィンドウサイズを取得する。
    var windowWidth = parseInt($(window).width());

    // ページ内にあるすべての`.js-image-switch`に適応される。
    $elem.each(function() {
      var $this = $(this);
      // ウィンドウサイズが768px以上であれば_spを_pcに置換する。
      if(windowWidth >= replaceWidth) {
        $this.attr('src', $this.attr('src').replace(sp, pc));

      // ウィンドウサイズが768px未満であれば_pcを_spに置換する。
      } else {
        $this.attr('src', $this.attr('src').replace(pc, sp));
      }
    });
  }
  imageSwitch();

  // 動的なリサイズは操作後0.2秒経ってから処理を実行する。
  var resizeTimer;
  $(window).on('resize', function() {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
      imageSwitch();
    }, 200);
  });



  if ($('.until_trial_end').length > 0) {
    setInterval(countDown, 1000);
    function countDown() {
      var hour = $($('.until_trial_end .end_hour')[0]).text()
      var minute = $($('.until_trial_end .end_minute')[0]).text()
      var second = $($('.until_trial_end .end_second')[0]).text()
      var all = (parseInt(hour) * 60 * 60) + (parseInt(minute) * 60) + parseInt(second);
      if (all <= 0) {
        return;
      }
      all -= 1
      var next_hour = all / (60*60)
      var spare_hour = all % (60*60)
      var next_minute = spare_hour / (60)
      var spare_minute = all % 60
      var next_second = spare_minute
      var next_hour_str = String(parseInt(next_hour));
      if (parseInt(next_hour) < 10) {
        next_hour_str = "0" + next_hour_str;
      }
      var next_minute_str = String(parseInt(next_minute));
      if (parseInt(next_minute) < 10) {
        next_minute_str = "0" + next_minute_str;
      }
      var next_second_str = String(parseInt(next_second));
      if (parseInt(next_second) < 10) {
        next_second_str = "0" + next_second_str;
      }
      $('.until_trial_end .end_second').text(next_second_str);
      $('.until_trial_end .end_minute').text(next_minute_str);
      $('.until_trial_end .end_hour').text(next_hour_str);
    }
  }

  $('.apply_box .min_tit, .apply_box .tokuten_kikan,.apply_box .price_box').click(function() {
    $(this).parent().find('.btn-apply')[0].click();

  })


  });
</script>

<script>
  Admin.setPage('common');
  Admin.init();
</script>
</body>
</html>
