<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="ja_JP" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="HASH365[ハッシュ365]" property="og:site_name">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" property="og:description">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" name="description">
    <meta content="プライバシーポリシー
    ｜HASH365[ハッシュ365]" property="og:title">

    <% content_for :title do %>
    プライバシーポリシー
    ｜HASH365[ハッシュ365]
    <% end %>
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/449240842132177?v=2.9.40&amp;r=stable" async=""></script><script src="https://connect.facebook.net/signals/config/1284580028249164?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://b92.yahoo.co.jp/search/?p=2CWQL16VV0&amp;label=&amp;ref=https%3A%2F%2Fhash365.net%2Fprivacy_policy&amp;rref=&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1623055686.8272467&amp;pvid=zajlel52a6ckpmdg6f7&amp;tsyjad=1622777194"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TD2FGFN"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TD2FGFN');</script>
    <!-- End Google Tag Manager -->

    <style>
    iframe[name="google_conversion_frame"] { position: absolute; top: 0; }
    </style>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 819565532;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?random=1623055686013&amp;cv=9&amp;fst=1623055686013&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=2505059651&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=1&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fhash365.net%2Fprivacy_policy&amp;tiba=%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC%20%EF%BD%9CHASH365%5B%E3%83%8F%E3%83%83%E3%82%B7%E3%83%A5365%5D&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Yahoo Code for your Target List -->
    <script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_retargeting_id = '2CWQL16VV0';
    var yahoo_retargeting_label = '';
    var yahoo_retargeting_page_type = '';
    var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
    /* ]]> */
    </script>
    <script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>

    <script async="" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    
    ytag({"type":"ycl_cookie"});
    
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1284580028249164');
    fbq('addPixelId', '449240842132177');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1284580028249164&ev=PageView&noscript=1"
    />
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=972151862885900&ev=PageView&noscript=1"
    />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <% content_for :css do %>
        <%= stylesheet_link_tag "history" %>
    <% end %>
    <%# <link rel="stylesheet" media="all" href="/assets/application-f00bd107863a579db136743172e2cfdca1d3358d1b7fe383e98b0d4e7d01600d.css" data-turbolinks-track="false"> %>
    <script src="/assets/application-75f0079c8e098370b4cea2c402e86c3f91ebe8e91eb9a5483574c97458aac8ba.js" data-turbolinks-track="false"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="fEaT+DsqueYSbeHlSeSm7qidOdCN6fDrxmAtK6BDf0SO5a4dVivURYL9S6QG9CQybtDqbE5idamWF2HdWqe10A==">
    <script type="text/javascript" src="https://b97.yahoo.co.jp/pagead/conversion_async.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD2FGFN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<%= render partial: "layouts/templete/header" %>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="pankuzu">
<a href="/">ホーム</a> » プライバシーポリシー
</div>

<h1>プライバシーポリシー</h1>
<p>
株式会社TechFactory（以下「当社」といいます。）は、お客様の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。
</p>
<p>1. 個人情報の定義</p>
<p>本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味するものとします。</p>
<p>2. 個人情報の利用目的</p>
<p>
当社は、お客様の個人情報を、HASH365提供、またサービスに付随する目的に利用いたします。
</p>
<p>3. 個人情報利用目的の変更</p>
<p>当社は、個人情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合にはお客様に通知又は公表します。</p>
<p>4. 個人情報利用の制限</p>
<p>当社は、個人情報保護法その他の法令により許容される場合を除き、お客様の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。但し、次の場合はこの限りではありません。</p>
<p>法令に基づく場合</p>
<p>人の生命、身体又は財産の保護のために必要がある場合であって、お客様の同意を得ることが困難であるとき</p>
<p>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様の同意を得ることが困難であるとき</p>
<p>国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</p>
<p>5. 個人情報の適正な取得</p>
<p>当社は、適正に個人情報を取得し、偽りその他不正の手段により取得しません。</p>
<p>6. 個人情報の安全管理</p>
<p>当社は、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、当社の従業員に対し、必要かつ適切な監督を行います。また、当社は、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。</p>
<p>7. 第三者提供</p>
<p>当社は、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめお客様の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。</p>
<p>当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合</p>
<p>合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
<p>個人情報保護法の定めに基づき共同利用する場合</p>
<p>8. 個人情報の開示</p>
<p>当社は、お客様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、お客様ご本人からのご請求であることを確認の上で、お客様に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり1000円）を頂戴しておりますので、あらかじめ御了承ください。</p>
<p>9. 個人情報の訂正等</p>
<p>当社は、お客様から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、お客様ご本人からのご請求であることを確認の上で、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨をお客様に通知します（訂正等を行わない旨の決定をしたときは、お客様に対しその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。</p>
<p>10. 個人情報の利用停止等</p>
<p>当社は、お客様から、お客様の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合、又は個人情報がご本人の同意なく第三者に提供されているという理由により、個人情報保護法の定めに基づきその提供の停止（以下「提供停止」といいます。）を求められた場合において、そのご請求に理由があることが判明した場合には、お客様ご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等又は提供停止を行い、その旨をお客様に通知します。但し、個人情報保護法その他の法令により、当社が利用停止等又は提供停止の義務を負わない場合は、この限りではありません。</p>
<p>11. お問い合わせ</p>
<p>
開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、下記の窓口までお願い致します。
<i>
<br>
株式会社TechFactory
<a href="http://techfactory.jp/contact">
http://techfactory.jp/contact
</a>
</i>
</p>
<p>12. 継続的改善</p>
<p>当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。 【2016年6月23日制定】</p>
</div>
</div>
</div>
<%= render partial: "layouts/templete/footer" %>


<script>
    Admin.setPage("landing");
    Admin.init();
</script>



<script type="text/javascript" id="">var yahoo_ss_retargeting_id=1000346457,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" id="" src="//s.yimg.jp/images/listing/tool/cv/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//b97.yahoo.co.jp/pagead/conversion/1000346457/?guid=ON&amp;script=0&amp;disvt=false">
</div>
</noscript><div style="visibility: hidden; position: absolute; top: 0px;">S</div><script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nwesl&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Fhash365.net%2Fprivacy_policy" type="text/javascript"></script></body></html>