<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="ja_JP" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="HASH365[ハッシュ365]" property="og:site_name">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" property="og:description">
    <meta content="HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。" name="description">
    <meta content="利用規約
    ｜HASH365[ハッシュ365]" property="og:title">

    <% content_for :title do %>
    利用規約
    ｜HASH365[ハッシュ365]
    <% end %>
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/449240842132177?v=2.9.40&amp;r=stable" async=""></script><script src="https://connect.facebook.net/signals/config/1284580028249164?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://b92.yahoo.co.jp/search/?p=2CWQL16VV0&amp;label=&amp;ref=https%3A%2F%2Fhash365.net%2Fuser_policy&amp;rref=&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1623054926.120953&amp;pvid=siui92xqvwkpmczwkg&amp;tsyjad=1622777194"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TD2FGFN"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TD2FGFN');</script>
    <!-- End Google Tag Manager -->

    <style>
    iframe[name="google_conversion_frame"] { position: absolute; top: 0; }
    </style>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 819565532;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?random=1623054926732&amp;cv=9&amp;fst=1623054926732&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=2505059651&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=1&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fhash365.net%2Fuser_policy&amp;tiba=%E5%88%A9%E7%94%A8%E8%A6%8F%E7%B4%84%20%EF%BD%9CHASH365%5B%E3%83%8F%E3%83%83%E3%82%B7%E3%83%A5365%5D&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/819565532/?guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Yahoo Code for your Target List -->
    <script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_retargeting_id = '2CWQL16VV0';
    var yahoo_retargeting_label = '';
    var yahoo_retargeting_page_type = '';
    var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
    /* ]]> */
    </script>
    <script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>

    <script async="" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    
    ytag({"type":"ycl_cookie"});
    
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1284580028249164');
    fbq('addPixelId', '449240842132177');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1284580028249164&ev=PageView&noscript=1"
    />
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=972151862885900&ev=PageView&noscript=1"
    />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <% content_for :css do %>
        <%= stylesheet_link_tag "history" %>
    <% end %>
    <%# <link rel="stylesheet" media="all" href="/assets/application-f00bd107863a579db136743172e2cfdca1d3358d1b7fe383e98b0d4e7d01600d.css" data-turbolinks-track="false"> %>
    <script src="/assets/application-75f0079c8e098370b4cea2c402e86c3f91ebe8e91eb9a5483574c97458aac8ba.js" data-turbolinks-track="false"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="P1ZM9Z45jIBw6N9Sn9jHUkdelsFHrFgCBVt3zbNE6khpte1+BcXkBn0DVlhWe4I0pjiXnrcyxNxAUyLtF0uZ2A==">
    <script type="text/javascript" src="https://b97.yahoo.co.jp/pagead/conversion_async.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD2FGFN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="main">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="header_link">
<a class="settings" href="/users/332530/settings">設定</a>
<a class="logout" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
<p class="version_label">
<i class="fa fa-check-circle"></i>
最新バージョン
</p>
</div>
<div class="logo">
<a href="/">
<img alt="HASH365" src="/img/new_lp/logo.svg">
</a>
</div>
</div>
</div>
</div>
</header>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="pankuzu">
<a href="/">ホーム</a> » 利用規約
</div>

<h1>
HASH365サービス利用規約
</h1>
<p>
<br>
</p>
<p>
株式会社TechFactory（以下「弊社」という。）は、HASH365サービス（以下「当サービス」といいます。）を提供するにあたり、利用規約を以下の通り定めます。なお、当サービスのユーザは本規約に同意されたものとみなします。すべての項目に同意いただけない場合は、当サービスのご利用をお控えください。
</p>
<p>
<br>
</p>
<p>第１条（定義）</p>
<p>
HASH365サービス利用規約（以下、「本利用規約」という。）において「ユーザ」とは、文脈上異なる意味であることが明らかな場合を除いては、弊社が定める手続に従い、本サービスの全部または一部を利用する資格を得た法人、団体または個人をいいます。
</p>
<p>第２条（規約の適用）</p>
<p>本利用規約は、本サービスの全部または一部を、ユーザが利用する場合に適用するものとし、本サービスを利用する場合、ユーザは、本利用規約に同意したものとみなします。</p>
<p>２ 弊社は、ユーザの承諾なく本利用規約の一部を変更することができるものとします。その場合は、本サービスのウェブサイト上に掲示するか、または弊社が適切と判断するその他の方法により、ユーザに告知するものとします。</p>
<p>３ 弊社がオンラインその他の方法により随時提示する、個人情報保護方針、マニュアル規定、ガイドライン規定等（以下、「諸規定」という。）がある場合は、諸規定は本利用規約の一部を構成するものとします。</p>
<p>
<br>
</p>
<p>第３条（利用契約の成立）</p>
<p>本サービスの利用を希望する法人または個人（以下「利用希望者」という。）は、本利用規約を承認し、弊社の定める手続に従い、弊社宛に所定の自己に関する情報（以下「登録情報」という）及び所定の希望申込内容を送信することもって利用申込をするものとし、弊社が登録情報を審査の上これを承諾し、弊社が利用希望者に対し、ＩＤ等、本サービス利用に必要な情報を送信し、利用希望者が当該情報を受領した時点において、本サービスの利用に関する契約（以下「利用契約」という。）が成立するものとします。</p>
<p>２ 弊社は本サービスの利用申込を行った利用希望者が、以下の各号のいずれかに該当した場合、当該申込を承諾しない場合があり、利用希望者はあらかじめこれを了承するものとします。</p>
<p>（1）登録情報に虚偽、記載漏れ、誤記のある場合</p>
<p>（2）登録情報に、匿名性が高いと弊社が判断する情報が含まれている場合</p>
<p>（3）その他弊社が不適切と判断した場合</p>
<p>
<br>
</p>
<p>第４条（不保証）</p>
<p>弊社は、下記の内容について保証するものではありません。</p>
<p>(1)　本サービスが、登録ユーザの特定の目的に適合すること又は期待する機能・商品的価値・正確性・有用性を有すること。</p>
<p>(2)　本サービスの利用により、ユーザに対するフォロワー、いいね、コメントが増加すること。</p>
<p>(3)　本サービスが、Instagram（以下「インスタグラム」といいます。）の利用規約に合致すること。</p>
<p>2　弊社は、以下に該当する場合であっても、一切責任を負わないものとします。</p>
<p>(1)　弊社により本サービスの提供の中断、停止、終了、利用不能又は変更がなされた場合</p>
<p>(2)　本サービスの利用により何らかの理由でインスタグラム、Facebook等のFacebook社が提供しているサービスのアカウントが停止された場合</p>
<p>(3)　その他、本サービスの利用により、ユーザが何らかの損害を被った場合。但し、弊社に故意又は重大な過失があった場合は除きます。</p>
<p>3　何らかの理由により弊社が責任を負う場合であっても、弊社は、ユーザー損害につき、過去12か月間に登録ユーザーが弊社に支払った対価の金額を超えて賠償する責任を負わないものとし、また、付随的損害、間接損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。</p>
<p>4　本サービスに関連して登録ユーザと第三者との間において生じた紛争等については、弊社は一切責任を負いません。</p>
<br>
<p>第５条（禁止行為）</p>
<p>弊社は、ユーザが本サービスを利用する際、以下のいずれかに該当する情報を表示、掲載、発信、送信等した場合は、ユーザに事前の連絡、通知をすることなく当該ユーザによる本サービスの利用を中止することができるものとします。</p>
<p>(1) 公序良俗に反する情報</p>
<p>(2) 特定人物への中傷を行う情報</p>
<p>(3) 知的所有権の侵害を行っているおそれのある情報</p>
<p>(4) 個人のプライバシーの侵害、及びそれを幇助するおそれのある情報</p>
<p>(5) その他、弊社が不適切と判断する情報</p>
<p>第６条（料金等）</p>
<p>本サービスの利用に関して生じる手数料等の料金については、別途当サービスホームページに定める料金体系に則り、クレジットカードによりお支払いいただくものとします。</p>
<p>２ 弊社は当サービスの有料プランのご購入後の払い戻しは行いません。</p>
<p>３ 本契約の有効期間中は、ユーザのサービス利用量、頻度その他の利用実態にかかわらず、利用料金が生じるものとします。</p>
<p>
<br>
</p>
<p>第７条（サービスの中断）</p>
<p>弊社は、以下のいずれかに該当する場合には、本サービスの提供の全部または一部を中断することができるものとします。</p>
<p>⑴ 設備の保守を実施する場合</p>
<p>⑵ 天災、停電、紛争等の非常事態や不可抗力により本サービスの提供ができなくなった場合</p>
<p>⑶ その他弊社が本サービスの管理または運営上、中断が必要と判断した場合</p>
<p>２ 弊社が、前項の規定により、本サービスの全部または一部を中断するときは、あらかじめその旨をユーザに通知するものとします。ただし、やむを得ず緊急を要するときはこの限りではありません。</p>
<p>
<br>
</p>
<p>第８条（当サービスの性質）</p>
<p>当サービスの性質について、以下の点にご留意ください。</p>
<p>(1) 当サービスはいかなるInstagram（以下、インスタグラム）、Facebook社とパートナー提携しているサービスではありません。また、インスタグラム側が当サービス内容を保証しているものではありません。</p>
<p>(2) 当サービスはインスタグラムのAPIから情報を取得しており、その際にインスタグラムのユーザ、パスワードを利用します。当社は第三者にユーザ名及びパスワードの開示はおこないません。</p>
<p>(3) 当サービスを利用して悪質な行為を行なった場合は、通告なく当サービスのアカウントを停止いたします。</p>
<p>(4) 弊社は、当サービス経由で増えたフォロワーが、利用者に対してスパム行為を行なった場合、当社側でそのスパム行為を制御することは出来ません。該当のスパムユーザの情報をインスタグラム側に報告していただく等の対処をお願いいたします。</p>
<p>(5) 当サービスは、インスタグラム側の仕様変更により、利用できなくなる場合がありますので、当サービス全機能の継続利用を保証しておりません。</p>
<p>(6) 当サービスは、当社の都合により通告なくサービスを停止する場合を利用者は認めるものとします。</p>
<p>
<br>
</p>
<p>第９条（分離可能性）</p>
<p>本利用規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本利用規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
<br>
<p>第１０条（合意管轄）</p>
<p>本サービスの利用に関連し、弊社とユーザとの間に訴訟の必要が生じた場合、東京地方裁判所を専属合意裁判所とします。</p>
<p>
<br>
</p>
<p>第１１条（準拠法）</p>
<p>本利用規約に関する問題は、日本法を準拠法とします 。</p>
<p>
<br>
</p>
<p>
<br>
</p>
<p>以上</p>
<p>
<br>
</p>
<p>平成28年7月29日 制定</p>
<p>平成29年12月19日 改定</p>
</div>
</div>
</div>
<%= render partial: "layouts/templete/footer" %>


<script>
    Admin.setPage("landing");
    Admin.init();
</script>



<script type="text/javascript" id="">var yahoo_ss_retargeting_id=1000346457,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" id="" src="//s.yimg.jp/images/listing/tool/cv/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//b97.yahoo.co.jp/pagead/conversion/1000346457/?guid=ON&amp;script=0&amp;disvt=false">
</div>
</noscript><div style="visibility: hidden; position: absolute; top: 0px;">S</div><script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nwesl&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Fhash365.net%2Fuser_policy" type="text/javascript"></script></body></html>