* {
    margin: 0;
    padding: 0;
}

.notifications {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 20px;
    color: white;
    z-index: 3;
}

.selected_tag {
    margin-top: 0.78vw;
    position: relative;
}
.selected_tag .tag_list {
    background: #fff;
    color: #666;
    display: block;
    padding: 10px 12px 10px 12px;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 13px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}
.tag_list > a {
    position: absolute;
    right: 3%;
    cursor: pointer;
    color: grey;
}
.tag_list > a:hover {
    text-decoration: none;
}

*= require_tree .
*= require_self